/*

*{
    margin: 0
    padding:0
}


header
{
  background-image: url(my.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.main-nav
{
  float: right;
  list-style: none;
  margin-top: 30px

}
.main-nav li
{
  display: inline-block;
}
.main-nav li
{
  color: white;
  text-decoration: none;
  padding: 5px 20p
}
.main-nav li
{
  font-family: "Roboto", sans-serif;
  font-size: 15px
}
.main-nav li
{
  font-weight: bold ;
}
.main-nav li.active a
{
  border: 1px solid white;
}
*/

*{
    margin: 0
    padding:0
}
header
{
  background-image: url(my.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  text-decoration: none;
  padding: 5px 20p
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li{

  float: right;
  list-style: none;
  margin-top: 30px

}


li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
